#bold_turquoise_bear-6 {
  padding: 1rem;

  svg {
    font-size: 100%;
    border: 1px solid teal;
    background: black;
  }

  .basic-text-1 {
    font-size: 10px;
    font-family: "Helvetica Neue", sans-serif;
    fill: white;
  }

  .basic-rect-1 {
    fill: brown;
  }
}
