#random-10a {
  height: 100vh;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: normal;

  svg {
    border: 1px solid teal;
    width: calc(100vw - 2px);
    height: auto;
    max-height: calc(100vh - 2px);
    display: block;
    overflow: hidden;
  }
}
