<section id="random-1">
    <svg viewBox="0,0,1000,500" preserveAspectRatio="xMidYMid meet">
        <rect x="20" y="20" width="300" height="300"></rect>
        <rect x="680" y="20" width="300" height="300"></rect>
        <rect x="200" y="150" width="700" height="100"></rect>

        <text x="550" y="205" class="semi-opaque">Hello World</text>
        <text x="550" y="450" class="plain">Hellooooo World</text>
    </svg>
</section>

<script src="{{ path '/js/components/random-1.js' }}"></script>
